.textshow{
    // border: 6px solid white;
    // box-shadow: 1px 7px 7px 2px #e4d8d8a6;
    // margin: 190px 0px;
    width : 75%;
    min-height : 25vh;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    text-align: center;
    color : white;
    text-shadow: 2px -1px 0px #000000;
}

@keyframes blink-caret { 50% { border-color: transparent; } }


span{
	border-right: .1em solid black;
    font-size: 350%;
    overflow: hidden;
	animation: typing 3s steps(16, end),
    blink-caret .5s step-end infinite alternate;
    @media screen and (max-width : 975px){
        border-right: none;
        font-size: 220%;
        margin: auto;
    }
}